body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    width: 70%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

main {
    flex: 1;
}

.intro-section {
    display: flex;
}

.intro-section-left, .intro-section-right {
    flex: 1;
}

.info-section-row {
    display: flex;
    justify-content: space-between;
}

.info-section-col {
    max-width: 100px;
}

.info-section-col p {
    text-align: center;
}

.img-box {
    border: 2px solid lightblue;
    height: 100px;
    width: 100px;
}

.intro-section-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
