
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.intro-section {
    display: flex;
}

.intro-section-left, .intro-section-right {
    flex: 1;
}

.intro-section-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
